body{
    margin: 0;
    padding: 0;
    font-family: fantasy, cursive, sans-serif;
    color:azure;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(library.jpeg);
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    padding-right: 10%;
    padding-left: 12%;
padding-top: 17%;}

.navbar{ width: 100%;
margin: auto;
padding: 15px;
justify-content: space-between;
align-items: center;
background-color: rgb(12, 12, 18);
text-decoration:none; 
color: azure;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbara {
text-decoration:none; 
color: azure;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}    
      
.button {
    display: inline;
    border-radius: 0.12em;
    padding:0px;
    padding-left: 50%;
    background-color: #121212;
    border: 6px solid #0e2a11ad;
    color:#000;
    text-decoration:none;
  }

